{%extends 'user_center_base.html'%}

{%block user_center_body%}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/user_info/">· 个人信息</a></li>
				<li><a href="/user/user_order_1/" class="active">· 全部订单</a></li>
				<li><a href="/user/user_site/">· 收货地址</a></li>
			</ul>
		</div>

		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for user_order in page_list %}
					<ul class="order_list_th w978 clearfix">
						<li class="col01">{{user_order.order_date}}</li>
						<li class="col02">订单号：{{user_order.order_id}}</li>
						<li class="col02 stress">
							{% if user_order.isPay %}已支付
							{% else %}未支付
							{% endif %}
						</li>		
					</ul>

					<table class="order_list_table w980">
						<tbody>
							<tr>
								<td width="55%">
									{% for goods in user_orders_item.0 %}
									<ul class="order_goods_list clearfix">					
										<li class="col01"><img src="/static/{{goods.goods.goods_pic}}"></li>
										<li class="col02">{{goods.goods.goods_title}}<em>{{goods.goods.goods_price}}元/{{goods.goods.goods_price_unit}}g</em></li>	
										<li class="col03">{{goods.count}}</li>
										<li class="col04">{{goods.price}}元</li>	
									</ul>
									{% endfor %}

								</td>
								<td width="15%">{{user_order.order_total_price}}元</td>
								<td width="15%">待付款</td>
								<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
							</tr>
						</tbody>
					</table>				
				{% endfor %}

				<div class="pagenation">
				{% if page_list.has_previous %}
					<a href="/user/user_order_{{page_list.previous_page_number}}/">上一页</a>
				{% endif %}

				{% for page_index in paginator.page_range %}
					{% if page_index == page_list.number%}
						<a href="#" class="active">{{page_index}}</a>
					{% else %}
						<a href="/user/user_order_{{page_index}}/">{{page_index}}</a>
					{% endif %}
				{% endfor %}

				{% if page_list.has_next %}
					<a href="/user/user_order_{{page_list.next_page_number}}/">下一页</a>
				{% endif %}
			</div>
		</div>
	</div>

{%endblock user_center_body%}
